*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header{
    background-color: orange;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}
footer{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 5rem;
}
.navbar{
    height: 80%;
    text-align: center;
    padding: 1rem;
}
main{
    width: 80%;
    margin: 0 auto;
    padding-top: 8rem;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul{
    list-style-type: none;
}
ul li{
    margin-right: 0.5rem;
}
section img{
    height: 30px;
}
div.column{
    position: relative;
    width: calc((100% / 3) - 50px);
    text-align: center;
}
div.column img{
    width: 80%;
    margin-top: 3rem;
}

span.discount{
    position: absolute;
    bottom: 80px;
    left: 50px;
    background-color: red;
    color: white;
}
span.heart{
    display: inline-block;
    background-color: white;
    color: black;
    width: 40px;
    position: absolute;
    top: 60px;
    right: 45px;
    font-size: 2rem;
}
span.sostenibile{
    position: absolute;
    bottom: 80px;
    left: 90px;
    background-color: lightgreen;
    color: white;
}
.sostenibile1{
    position:absolute;
    bottom: 80px;
    left: 50px;
    background-color: lightgreen;
    color: white;
}
h3.text-column{
    font-size: small;
    text-align: left;
    margin-left: 3rem;
}
.color-red{
    color: red;
}
.footer-flex{
    display: flex;
    height: 80%;
    text-align: center;
    padding: 1rem;
}