*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
}
.navbar{
    background-color: orange;
    height: 100%;
}
section.navbar ul{
    list-style-type:none;

}